$primary-color: #ffff;
$blue: #55b7ff;
$dark: #2c4058;
$curtain-color: #000000;
$light: #a8a8a8;
$bkg-color: #7e5aff;

/*$primary-color: #ffff;
$bkg-btn: #5474fd;
$main-color: #e8e8e8;
$dark-color: #333333;
$footer-bkg: #919191;
$icon-color: #c8c8c8;
$curtain-color: #232323;
$sect-color: #333333;
$hover-color: #a9b9fe;*/
