@mixin title {
  font-size: $size-head;
  line-height: 54px;
  font-family: $font-primary;
}
@mixin pretitle {
  font-family: $font-primary;
  font-size: 22px;
  line-height: 27px;
}
@mixin text {
  font-family: $font-second;
  font-size: $size-text;
  line-height: 30px;
}
@mixin btn-text {
  font-family: $font-primary;
  font-weight: 400;
  font-size: $little-size;
  line-height: 17px;
}
@mixin text-location {
  font-size: $little-size;
  line-height: 20px;
  font-family: $font-second;
  font-style: italic;
}
@mixin name {
  font-family: $font-primary;
  font-size: $size-text;
  line-height: 22px;
}
