$font-primary: "Montserrat", sans-serif;
$font-second: "Open Sans", sans-serif;
$font-active: "Source Sans Pro", sans-serif;

$big-title-size: 80px;
$size-text: 18px;
$little-size: 15px;
$size-head: 44px;
$size-var: 30px;
