.gallery {
  padding: 170px 0 157px;
  text-align: center;
  &__title {
    @include title;
    margin-bottom: 83px;
    position: relative;
    color: $dark;
    &:before {
      content: "";
      position: absolute;
      width: 100px;
      height: 1px;
      background-color: $dark;
      top: -30%;
      left: 46%;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    margin-bottom: 75px;
  }
}
.photo-more_pic {
  margin: 4px 0 4px 8px;
}
