.projects {
  padding: 100px 0 0;
  text-align: center;
  width: 100%;
  &__title {
    @include title;
    position: relative;
    color: $dark;
    margin-bottom: 146px;
    &:before {
      content: "";
      position: absolute;
      width: 100px;
      height: 1px;
      background-color: $dark;
      top: -30%;
      left: 46%;
    }
  }
  &__first,
  &__second {
    display: flex;
    margin-bottom: 140px;
  }
}
.first__pic {
  position: relative;
  &-item {
    width: 585px;
    height: 470px;
    position: absolute;
    left: -215px;
    top: -57px;
    background-color: $blue;
    z-index: -1;
  }
}
.content {
  padding: 150px 5px 5px 70px;
  text-align: left;
  &-second {
    padding: 100px 70px 5px 5px;
    text-align: left;
  }
  &__pretitle {
    @include pretitle;
    font-weight: normal;
  }
  &__title {
    @include title;
    font-weight: bold;
    color: $dark;
  }
  &__text {
    @include text;
    font-weight: 400;
    color: $dark;
    margin-bottom: 41px;
    &-location {
      @include text-location;
      color: $curtain-color;
      margin-top: 60px;
      &-marker {
        color: $dark;
        margin-right: 10px;
      }
    }
  }
}
.second__pic {
  position: relative;
  &-item {
    width: 585px;
    height: 470px;
    position: absolute;
    right: -215px;
    top: -57px;
    background-color: $bkg-color;
    z-index: -1;
  }
}
