.content__btn {
  @include btn-text;
  padding: 16px 41px;
  border: 1px solid $dark;
  color: $curtain-color;
  &:hover {
    background-color: $dark;
    color: $primary-color;
    border: 1px solid $primary-color;
    transition: all 0.7s;
  }
}

.priv_arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  top: 47%;
  left: -9%;
  border: 1px solid $primary-color;
  padding: 13px;
  color: $primary-color;
}
.next_arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  top: 47%;
  right: -9%;
  border: 1px solid $primary-color;
  padding: 14px;
  color: $primary-color;
}
.button {
  @include text;
  width: 140px;
  padding: 9px 34px;
  border: 1px solid $dark;
  color: $curtain-color;
  margin-left: 180px;
  &:hover {
    background-color: $dark;
    color: $primary-color;
    border: 1px solid $primary-color;
    transition: all 0.7s;
  }
}
