.header__link {
  @include btn-text;
  font-family: $font-active;
  font-weight: 400;
  color: $primary-color;
  &:hover {
    text-decoration: underline;
  }
  &-item {
    border: 1px solid $primary-color;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    padding-right: 12px;
    margin-right: 10px;
    &:hover {
      background-color: $primary-color;
    }
  }
}
.icon__link-svg {
  width: 40px;
  height: 40px;
  border: 1px solid $primary-color;
  border-radius: 50%;
  margin: 7px;
  &:hover {
    border: 1px solid $dark;
    transition: all 0.9s;
  }
}
